@{
}
@model FronEndMVC.Models.Course
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-12">
                    <form id="courseDataEntryForm" method="post">
                        <div class="row">
                            <div class=col-md-3>
                                <label for="Name">COURSE NAME:</label>
                            </div>
                            <div class=col-md-3>
                                <input id="CourseNameEdit" asp-for="Name" type="text" name="Name" required />
                            </div><div class=col-md-3>
                                <span id="CourseNameLabel"> </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class=col-md-3>
                                <input type="submit" value="Submit" asp-action="EditCourse" asp-controller="Home">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>